@*Model  Definition*@

@model PersonalHealthTracker.Models.DailySummaryViewModel

@if (ViewData["Error"] != null)
{
    <div class="alert alert-danger" role="alert">
        @ViewData["Error"]
    </div>
}

    <style type="text/css">
        @@media only screen and (max-width: 1678px) {
            #datecolumn {
                display: block;
            }

            #pcolumnsmall {
                display: none;
            }

            #mcolumnsmall {
                display: none;
            }

            #ncolumnsmall {
                display: none;
            }

            #scolumnsmall {
                display: none;
            }
        }
        @@media only screen and (max-width: 560px) {
            #datecolumn {
                display: none;
            }

            #pcolumn {
                display: none;
            }

            #mcolumn {
                display: none;
            }

            #ncolumn {
                display: none;
            }

            #scolumn {
                display: none;
            }
            #pcolumnsmall {
                display: block;
            }

            #mcolumnsmall {
                display: block;
            }

            #ncolumnsmall {
                display: block;
            }

            #scolumnsmall {
                display: block;
            }
        }
    </style>

<h1>Date Range Summary</h1>

<br />

<div style="display: flex;">
    <h2 style="margin: auto">@Model.PA.FirstOrDefault().Date.ToString("MM/dd/yyyy")</h2>
    <h2>to</h2>
    <h2 style="margin: auto">@Model.PA.LastOrDefault().Date.ToString("MM/dd/yyyy")</h2>
</div>

<br />

<div class="container">
    <div class="row">
        <div class="col-sm-2" id="datecolumn">
            <h2>Date</h2>
            
            @foreach (var item in Model.PA)
            {
                @*<div style="border-top: 1px solid"></div>*@

                <div style="padding: 0.75rem; border-top: 1px solid">
                    @item.Date.ToShortDateString()
                </div>
            }
        </div>
        <div class="col-sm-2">
            <h2>Physical</h2>

            @foreach (var item in Model.PA)
            {
                <div id="pcolumn" style="padding: 0.75rem; border-top: 1px solid;">
                    @item.Description
                </div>
                <div id="pcolumnsmall" style="padding: 0.75rem; border-top: 1px solid;">
                    @item.Date.ToShortDateString()&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    @item.Description
                </div>
            }

        </div>
        <div class="col-sm-2">
            <h2>Mental</h2>

            @foreach (var item in Model.MA)
            {
                <div id="mcolumn" style="padding: 0.75rem; border-top: 1px solid;">
                    @item.Description
                </div>
                <div id="mcolumnsmall" style="padding: 0.75rem; border-top: 1px solid;">
                    @item.Date.ToShortDateString()&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    @item.Description
                </div>
            }

        </div>
        <div class="col-sm-2">
            <h2>Nutrition</h2>

            @foreach (var item in Model.NUT)
            {
                <div id="ncolumn" style="padding: 0.75rem; border-top: 1px solid">
                    @item.Description
                </div>
                <div id="ncolumnsmall" style="padding: 0.75rem; border-top: 1px solid">
                    @item.Date.ToShortDateString()&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    @item.Description
                </div>
            }

        </div>
        <div class="col-sm-2">
            <h2>Sleep</h2>

            @foreach (var item in Model.SLP)
            {
                <div id="scolumn" style="padding: 0.75rem; border-top: 1px solid">
                    @item.Description
                </div>
                <div id="scolumnsmall" style="padding: 0.75rem; border-top: 1px solid">
                    @item.Date.ToShortDateString()&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    @item.Description
                </div>
            }

        </div>
    </div>
</div>

@*<table class="table">
    <tr>
        <th>Date</th>
        <th>Physical Activity</th>
        <th>Mental Activity</th>
        <th>Nutrition</th>
        <th>Sleep</th>
    </tr>


    @foreach (var item in Model.PA)
    {*@@*
            @foreach (var itema in Model.MA)
            {
                @foreach (var itemb in Model.NUT)
                {
                    @foreach (var itemc in Model.SLP)
                    {*@

    @*<tr>
        <td>@item.Date</td>
        <td>@item.Description</td>*@
        @*<td>@item.Description</td>
            <td>@item.Description</td>
            <td>@item.Description</td>*@

    @*</tr>
    }

    </table>


    @*
                @foreach (var physical_activity in Model)
                {
            <tr>
                <td>@physical_activity.Description</td>
                <td>@physical_activity.Duration</td>
                <td>@physical_activity.CaloriesBurned</td>
                <td>@physical_activity.dayOfWeek</td>
                <td>
                    <a asp-controller="Physical_Activity" asp-action="Detail" asp-route-id="@physical_activity.Id">Detail</a> |
                    <a asp-controller="Physical_Activity" asp-action="Edit" asp-route-id="@physical_activity.Id">Edit</a> |
                    <a href="#" class="js-open-modal" data-property-id="@physical_activity.Id">Delete</a>
                </td>
            </tr>
        }

                @if (Model.Count == 0)
                {
                    <tr>
                        <td colspan="5">
                            You don't have any Physical Activities yet - <a href="/Physical_Activity/Add">Add Activity</a>
                        </td>
                    </tr>
                }

    *@
@*</table>*@